In [2]:
from geopy.geocoders import Nominatim

In [3]:
nom = Nominatim()

ConfigurationError: Using Nominatim with default or sample `user_agent` "geopy/2.0.0" is strongly discouraged, as it violates Nominatim's ToS https://operations.osmfoundation.org/policies/nominatim/ and may possibly cause 403 and 429 HTTP errors. Please specify a custom `user_agent` with `Nominatim(user_agent="my-application")` or by overriding the default `user_agent`: `geopy.geocoders.options.default_user_agent = "my-application"`.

In [4]:
from geopy.geocoders import ArcGIS
nom = ArcGIS()

In [6]:
n = nom.geocode('Shennan St, Shenzhen, Guangdong, China')
n

Location(Shenzhen, Guangdong, (22.545540000000074, 114.06830000000002, 0.0))

In [7]:
import pandas

In [9]:
df = pandas.read_json('supermarkets/supermarkets.json')
df

,ID,Address,City,State,Country,Name,Employees
0,1,3666 21st St,San Francisco,CA 94114,USA,Madeira,8
1,2,735 Dolores St,San Francisco,CA 94119,USA,Bready Shop,15
2,3,332 Hill St,San Francisco,California 94114,USA,Super River,25
3,4,3995 23rd St,San Francisco,CA 94114,USA,Ben's Shop,10
4,5,1056 Sanchez St,San Francisco,California,USA,Sanchez,12
5,6,551 Alvarado St,San Francisco,CA 94114,USA,Richvalley,20

In [10]:
df['Address'] = df['Address'] + ', ' + df['City'] + ', ' + df['State'] + ', ' + df['Country']
df

,ID,Address,City,State,Country,Name,Employees
0,1,"3666 21st St, San Francisco, CA 94114, USA",San Francisco,CA 94114,USA,Madeira,8
1,2,"735 Dolores St, San Francisco, CA 94119, USA",San Francisco,CA 94119,USA,Bready Shop,15
2,3,"332 Hill St, San Francisco, California 94114, USA",San Francisco,California 94114,USA,Super River,25
3,4,"3995 23rd St, San Francisco, CA 94114, USA",San Francisco,CA 94114,USA,Ben's Shop,10
4,5,"1056 Sanchez St, San Francisco, California, USA",San Francisco,California,USA,Sanchez,12
5,6,"551 Alvarado St, San Francisco, CA 94114, USA",San Francisco,CA 94114,USA,Richvalley,20

In [15]:
df['Coordinates'] = df['Address'].apply(nom.geocode)
df

,ID,Address,City,State,Country,Name,Employees,Coordinates
0,1,"3666 21st St, San Francisco, CA 94114, USA",San Francisco,CA 94114,USA,Madeira,8,"(3666 21st St, San Francisco, California, 9411..."
1,2,"735 Dolores St, San Francisco, CA 94119, USA",San Francisco,CA 94119,USA,Bready Shop,15,"(735 Dolores St, San Francisco, California, 94..."
2,3,"332 Hill St, San Francisco, California 94114, USA",San Francisco,California 94114,USA,Super River,25,"(332 Hill St, San Francisco, California, 94114..."
3,4,"3995 23rd St, San Francisco, CA 94114, USA",San Francisco,CA 94114,USA,Ben's Shop,10,"(3995 23rd St, San Francisco, California, 9411..."
4,5,"1056 Sanchez St, San Francisco, California, USA",San Francisco,California,USA,Sanchez,12,"(1056 Sanchez St, San Francisco, California, 9..."
5,6,"551 Alvarado St, San Francisco, CA 94114, USA",San Francisco,CA 94114,USA,Richvalley,20,"(551 Alvarado St, San Francisco, California, 9..."

In [14]:
df.Coordinates[1]

Location(735 Dolores St, San Francisco, California, 94110, (37.757819005175406, -122.42533698790956, 0.0))

In [18]:
df['Latitude'] = df['Coordinates'].apply(lambda x: x.latitude if x != None else None)
df['Longitude'] = df['Coordinates'].apply(lambda x: x.longitude if x != None else None)
df

,ID,Address,City,State,Country,Name,Employees,Coordinates,Latitude,Longitude
0,1,"3666 21st St, San Francisco, CA 94114, USA",San Francisco,CA 94114,USA,Madeira,8,"(3666 21st St, San Francisco, California, 9411...",37.756648,-122.429375
1,2,"735 Dolores St, San Francisco, CA 94119, USA",San Francisco,CA 94119,USA,Bready Shop,15,"(735 Dolores St, San Francisco, California, 94...",37.757819,-122.425337
2,3,"332 Hill St, San Francisco, California 94114, USA",San Francisco,California 94114,USA,Super River,25,"(332 Hill St, San Francisco, California, 94114...",37.755875,-122.428816
3,4,"3995 23rd St, San Francisco, CA 94114, USA",San Francisco,CA 94114,USA,Ben's Shop,10,"(3995 23rd St, San Francisco, California, 9411...",37.752922,-122.431697
4,5,"1056 Sanchez St, San Francisco, California, USA",San Francisco,California,USA,Sanchez,12,"(1056 Sanchez St, San Francisco, California, 9...",37.752131,-122.430028
5,6,"551 Alvarado St, San Francisco, CA 94114, USA",San Francisco,CA 94114,USA,Richvalley,20,"(551 Alvarado St, San Francisco, California, 9...",37.753511,-122.433229